   <div class="panel widget">
         <div class="row row-table row-flush">
            <div class="col-xs-4 bg-info text-center">
               <h4>Interests</h4>
            </div>
            <div class="col-xs-8">
               <div class="panel-body text-center">
                  <p><%= @hacker.experience %></p>
               </div>
            </div>
         </div>
     </div>
     <div class="panel widget">
         <div class="row row-table row-flush">
            <div class="col-xs-4 bg-success text-center">
               <h4>Wants to Learn</h4>
            </div>
            <div class="col-xs-8">
               <div class="panel-body text-center">
                  <p><%= @hacker.learn %></p>
               </div>
            </div>
         </div>
     </div>