<%= link_to "< Back", root_path %><h3>Hacker Profile
</h3>
<% flash.each do |name, msg| %>
   
   <div role="alert" class="alert alert-warning">
   <%= msg %>
   </div>
   
<% end %>
<div class="row">
   <div class="col-lg-12">
            <%= render 'profile_card' %>
     </div>
   </div>
   <div class="container-fluid">
      <div class="row-fluid">
         <div class="span12">
            <div class="well well-sm" style="max-width: 840px">
               <img src=<%= image_path("resumes/#{@hacker.id}.svg") %> />
            </div>
         </div>
      </div>
   </div>
</div>
</div>
	