<h3>Hacker Profile
</h3>
<% flash.each do |name, msg| %>
   
   <div role="alert" class="alert alert-warning">
   <%= msg %>
   </div>
   
<% end %>
<div class="row">
   <div class="col-xs-6">
   	<!-- START widget-->
      <%= render 'profile_card' %>
      <!-- END widget-->
   </div>
   <div class="col-xs-6">
   <%= render 'interests_learn' %>
   </div>
   </div>
         <div class="col-lg-4">
         <h4>Language Proficiencies</h4>
         <div>
            <canvas id="chartjs-radarchart"></canvas>
         </div>
      </div>
</div>
</div>
	